{% extends "templates/base.html" %}
{% block content %}
<div class="row-fluid">

    {% if info %}
        <div class="alert alert-success" role="alert">{{info}}</div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}

    <legend>Group</legend>
    <form action="/group" method="POST">
        <div class="control-group navbar-left" style="margin-right:10px">
            <label class="control-label" for="name">Table</label>
            <div class="controls">
                <input value="{{group.name}}" id="name" disabled type="text" name="name" required class="form-control" style="width:200px">
            </div>
        </div>
        <div class="control-group navbar-left" style="margin-right:10px">
            <label class="control-label" for="database">Database</label>
            <div class="controls">
                <input value="{{group.database}}" id="database" disabled type="text" name="database" required class="form-control" style="width:100px">
            </div>
        </div>
        <div class="control-group navbar-left" style="margin-right:10px">
            <label class="control-label" for="keycolumn">Key</label>
            <div class="controls">
                <input value="{{group.keycolumn}}" id="keycolumn" disabled type="text" name="keycolumn" required class="form-control" style="width:200px">
            </div>
        </div>
        <div class="control-group navbar-left" style="margin-right:10px">
            <label class="control-label" for="virtualcount">Virtual</label>
            <div class="controls">
                <input value="{{group.virtualcount}}" id="virtualcount" disabled type="text" name="virtualcount" required class="form-control" style="width:100px" maxlength="3">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="hashfunction">Hash</label>
            <div class="controls">
                <input value="{{group.hashfunction}}" id="hashfunction" disabled type="text" name="hashfunction" required class="form-control" style="width:300px">
            </div>
        </div>
        <br/>
    </form>
    <br/>
    <legend>Shards</legend>
    <div class="panel panel-default">
        <div class="panel-heading">Sharded Tables</div>
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th rowspan="2">URL</th>
                <th rowspan="2">Schema</th>
                <th rowspan="2">Managing Hash</th>
                <th colspan="4">Status</th>
            </tr>
                <th>Count</th>
                <th>Max</th>
                <th>Min</th>
                <th>Operation</th>
            </tr>
            </thead>
            <tbody>
            {% for item in shards %}
            <tr>
                <td>{{item.url}}</td>
                <td>{{item.user}}</td>
                <td>{{item.hashvalue}}</td>
                <td>{{item.cnt}}</td>
                <td>{{item.mx}}</td>
                <td>{{item.mn}}</td>
                <td>
                    <form method="POST" action="/release">
                        <input type="hidden" name="groupname" value="{{group.name}}">
                        <input type="hidden" name="url" value="{{item.url}}">
                        <input type="hidden" name="user" value="{{item.user}}">
                        <button class="btn-xs btn btn-danger" type="submit">RELEASE</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <form class="well navbar-form navbar-left" action="/shard" method="POST" style="width:100%">
        <div class="form-group" style="width:100%">
            <input type="hidden" value="{{group.name}}" name="groupname">
            <input value="{{url}}" id="url" name="url" style="width:50%" required class="form-control input-large" placeholder="thin:@@192.168.33.22:1521:XE">
            <input value="{{username}}" id="username" name="username" style="width:15%" required class="form-control input-small" placeholder="Username">
            <input value="{{password}}" id="password" type="password" name="password" style="width:15%" required class="form-control input-small" placeholder="Password">
            <button class="btn btn-primary" type="submit">Add</button>
        </div>
    </form>
    <form action="rebalance" method="POST">
        <input type="hidden" value="{{group.name}}" name="groupname">
        <button class="btn btn-primary" type="submit">Rebalance</button>
    </form>
    <br/>
</div>
<script>
   $(document).ready (
        function(e) {
            $(".ddlcopy").click(function() {
                 var url = $(this).attr("data-url");
                 var user = $(this).attr("data-user");
                 var group = $(this).attr("data-group");
                 $.ajax({
                     type : "GET",
                     url : "/group/showddl",
                     data: { url: url, user: user , groupname:group }
                 }).done(function(data) {
                     $("#ddl").val(data);
                 });
            });
        }
    );
</script>
{% endblock %}
